<!-- <div class="poll-tracker__text">
    <h1>Some headline</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<div class="poll-placeholder"></div>

<div class="poll-tracker__text">
    <h1>Some other headline</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<div class="poll-placeholder-two"></div> -->



{{#text}}
<div class='poll-tracker__block'>



    <div class="poll-tracker__text">
        <h2>{{Headline}}</h2>
        <p>{{Description}}</p>
    </div>

    <div class="poll-placeholder">


      {{#@first}}

      <div class="keyholder-div" style="list-style-type: none">
          <div class="keyholder-div-item"><span class="rect bgc-con"></span><span class="keyholder-div-item-label">Conservatives</span></div>
          <div class="keyholder-div-item"><span class="rect bgc-lab"></span><span class="keyholder-div-item-label">Labour</span></div>
          <div class="keyholder-div-item"><span class="rect bgc-ldem"></span><span class="keyholder-div-item-label">Lib Dem</span></div>
          <div class="keyholder-div-item"><span class="rect bgc-ukip"></span><span class="keyholder-div-item-label">Ukip</span></div>
          <div class="keyholder-div-item"><span class="rect bgc-grn"></span><span class="keyholder-div-item-label">Green</span></div>
          <div class="keyholder-div-item"><span class="rect bgc-others"></span><span class="keyholder-div-item-label">Others</span></div>

      </div>

      <!-- pollchart -->
        <div id="pollchart"></div>
        <div id="pollchartTooltip" class="tp-text pos-a d-n ff-ss fz-14">
            <div class="fw-b pt-10"></div>
            <div></div>
            <div class="fw-b pb-7"></div>
        </div>
        <!-- end of pollchart -->




      {{else}}

      <div id="daybyday">
          <div id="pollsterFilterContainer">
              <span class="filter-title">Filter by pollster:</span>
              <ul id="pollstersFilter"></ul>
          </div>
          <div id="pollsTable" ></div>
          <br/>
          <a href="#" id="showMorePolls" class="more">Show more</a>
      </div>

      {{/@first}}

    </div>
</div>

{{#if @first}}

<div class='poll-tracker__block'>
    <div class="c-advert interactive-ad-banner">
      <div class="ad-wrapper--desktop hide-until-tablet">
          <div id="dfp-ad--inline1"
               class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop"
               data-link-name="ad slot banner"
               data-name="banner"
               data-tablet="1,1|2,2|728,90"
               data-desktop="1,1|2,2|88,70|728,90|940,230|900,250"></div>
      </div>

      <div class="ad-wrapper--mobile mobile-only">
          <div id="dfp-ad--inline1Mobile"
               class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline1"
               data-link-name="ad slot inline1Mobile"
               data-name="inline1Mobile"
               data-mobile="1,1|2,2|300,250|fluid"></div>
      </div>
    </div>
</div>
{{/if}}

{{/text}}
