<!-- <div class="poll-tracker__text">
    <h1>Some headline</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<div class="poll-placeholder"></div>

<div class="poll-tracker__text">
    <h1>Some other headline</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<div class="poll-placeholder-two"></div> -->

<ul class="ul__party t-ul__party" style="list-style-type: none">
    <li style="list-style: none"><span class="rect bgc-lab"></span></li>
    <li><span class="rect bgc-snp"></span>SNP</li>
    <li><span class="rect bgc-grn"></span>Green</li>
    <li><span class="rect bgc-others"></span>Others</li>
    <li><span class="rect bgc-ukip"></span>Ukip</li>
    <li><span class="rect bgc-ldem"></span>Lib Dem</li>
    <li><span class="rect bgc-con"></span></li>
</ul>

{{#text}}
<div class='poll-tracker__block'>

    <div class="poll-tracker__text">
        <h1>{{Headline}}</h1>
        <p>{{Description}}</p>
    </div>

    <div class="poll-placeholder">
      {{#@first}}

      <!-- pollchart -->
        <div id="pollchart"></div>
        <div id="pollchartTooltip" class="tp-text pos-a d-n ff-ss fz-14">
            <div class="fw-b pt-10"></div>
            <div></div>
            <div class="fw-b pb-7"></div>
        </div>
        <!-- end of pollchart -->

      {{else}}

      <div id="daybyday">
          <div id="pollsterFilterContainer">
              <span class="filter-title">Filter by pollster:</span>
              <ul id="pollstersFilter"></ul>
          </div>
          <div id="pollsTable" ></div>
          <br/>
          <a href="#" id="showMorePolls" class="more">Show more</a>
      </div>

      {{/@first}}

    </div>
</div>
{{/text}}
