<!-- <div class="poll-tracker__text">
    <h1>Some headline</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<div class="poll-placeholder"></div>

<div class="poll-tracker__text">
    <h1>Some other headline</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<div class="poll-placeholder-two"></div> -->

{{#Sheet1}}
<div class="poll-tracker__text">
    <h1>{{Headline}}</h1>
    <p>{{Description}}</p>
</div>
<div class="poll-placeholder"></div>
{{/Sheet1}}
