$ff-s:  "Guardian Egyptian Web", Georgia, serif;
$ff-ss: "Guardian Text Sans Web","Agate Sans", sans-serif;
$ff-agate: "Guardian Agate Sans 1 Web","Agate Sans", sans-serif;
$con:    #005789;
$grn:    #33A22B;
$lab:    #E31F26;
$ldem:   #FFB900;
$others: #B3B3B4;
$snp:    #FCDD03;
$ukip:   #7D0069;
$dup:    $others;
$sdlp:    $others;
$pc:     #868686;

@import "mq";
@import "fonts";
@import "daybyday";
@import "pollchart";
// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.poll-tracker__block {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}



.poll-placeholder, .poll-placeholder-two {
  min-height: 400px;
  // background-color: aqua;
  width: 100%;
  margin-bottom: 20px;

  @include mq($from: desktop) {
    float: left;
    width: 80%;
  }
}


// backgound colors: (bgc-)
.bgc-con    { background-color: $con; }
.bgc-grn    { background-color: $grn; }
.bgc-lab    { background-color: $lab; }
.bgc-snp    { background-color: $snp; }
.bgc-ldem   { background-color: $ldem; }
.bgc-ukip   { background-color: $ukip; }
.bgc-dup    { background-color: $dup; }
.bgc-sdlp    { background-color: $sdlp; }
.bgc-others { background-color: $others; }

.bgc-white      { background-color: #FFF;}
.bgc-grey-light { background-color: #EEE; }
.bgc-grey-dark  { background-color: #424242; }
.bgc-blue-light { background-color: #296d96; }
.bgc-blue-dark  { background-color: #005689; }

// fonts: (f*-)
.ff-s  { font-family: $ff-s; }
.ff-ss { font-family: $ff-ss; }

// colors: (c-)
.c-3  { color: #333; }
.c-b3 { color: #b3b3b3; }
.c-76 { color: #767676; }

// list: (ul-, li)
.ul__party {
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: right;
}
.ul__party li {
    padding-right: 10px;
    /* float: left; */
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    display: inline-block;
}
.ul__party li:first-child .rect {
    margin-left: 0;
}
.ul__party li:last-child {
    padding-right: 0;
}

.keyholder-div{
    position: relative;
    margin-top: 12px;
}

.keyholder-div-item{
    padding: 0 20px 6px 0;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    display:inline-block;
    float:left;
}

.keyholder-div-item-label{
    margin-top:3px;
}

.rect {
        width: 10px;
        height: 18px;
        margin-right: 5px;
        margin-top:0;
        border-radius: 2px;
        display: inline-block;
        vertical-align: top;
    }


#daybyday ul li:before{
    content:'';
    display: none !important;
    background-color: #FFF !important;
}

#daybyday ul li a, #daybyday ul li a:active, #daybyday ul li a:visited, #daybyday ul li a:hover{
    text-decoration: none !important;
    background-color: #EEE ;
    text-shadow: none !important;
    background-image: none !important;
}

.prose ul>li:before{
    display: none !important;
    background-image: none !important;
}

#daybyday ul li a {
    text-shadow: none !important;
    background-image: none !important;
}


// .prose ul>li:before{
//     height: 0 !important;
//     width: 0 !important;
//     background-color:#FFF !important;
// }    






    .content__main-column--interactive, .article__body {

            p, h2{
                @include mq(tablet){
                    max-width: 620px;
                }

                @include mq(1140px){
                    margin-left: 160px;
                }

                @include mq(wide){
                    margin-left: 240px;
                }
            }

            p {
                margin-bottom: 20px;
            }

            h2 {
                @include fs-header(3);
            }

    }


    .poll-tracker__text {
        width: 100%;
        border-top: 1px solid #ececec;
        margin-bottom: 24px;
        padding-top: 6px;

        @include mq($from: desktop) {
            width: 230px;
            float: left;
            margin-right: 10px;
        }

        h2 {
            @include fs-header(3);

            margin-left: 0;
        }

        p {
            font-family: $f-sans-serif-text;
            font-size: 14px;
            margin-top: 12px;
            margin-left: 0;
        }
    }

    .c-advert {

      display: inline-block;
      .js-ad-slot {
        display: inline-block;
      }

      @include mq(1140px){
          margin-left: 160px;
      }

      @include mq(wide){
          margin-left: 240px;
      }
    }

